/* Base styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .contactBody {
    background-color: #212529; /* Dark background */
    color: #fff; /* Light text */
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Set minimum viewport height */
  }
  
  /* Contact form section */
  .contact-form {
    text-align: center;
    width: 80%;
    max-width: 700px;
    background-color: #181c1f; /* Slightly darker background for form */
    padding: 30px;
    border-radius: 5px;
  }
  
  .sectionHeader,
  .heading,
  .para,
  .sub-heading {
    margin-bottom: 15px;
  }
  
  .heading {
    font-size: 2rem;
  }
  
  .para {
    font-size: 16px;
  }
  
  .sub-heading {
    font-size: 1.2rem;
  }
  
  /* Form styles */
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .inputform {
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc; /* Adjust border color for dark mode */
    border-radius: 3px;
    font-size: 16px;
  }
  
  .inputform:focus {
    outline: none;
    border-color: #4CAF50; /* Green highlight on focus */
  }
  
  .input submit {
    background-color: #4CAF50; /* Green button */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
  }
  
  .input submit:hover {
    background-color: #3e8e41; /* Darker green on hover */
  }
  
  /* Map container */
  .map-container {
    display: flex;
    margin-top: 30px;
  }
  
  .mapBg {
    width: 50%;
    background-color: #292d31; /* Dark background for map area */
  }
  
  .map {
    width: 50%;
    overflow: hidden;
  }
  
  .map iframe {
    width: 100%;
    height: 300px;
  }
  
  /* Contact methods */
  .contactMethod {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .method {
    display: flex;
    align-items: center;
    color: #bbb; /* Lighter text for details */
  }
  
  .contactIcon {
    font-size: 20px;
    margin-right: 10px;
    color: #4CAF50; /* Green icon color */
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .contact-form,
    .map-container {
      flex-direction: column;
    }
  
    .map-container {
      margin-top: 0;
    }
  
    .map {
      margin-top: 20px;
    }
  
    .contactMethod {
      flex-direction: column;
    }
  
    .method {
      margin-bottom: 15px;
    }
  }
  